src/main/mule/MuniterrorScenario.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4389df5b-de2a-47c6-a262-2abb1993c1d3" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root@000" database="StudentDetails" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e413234a-e7c8-4e20-b8bb-63d6d465827b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="6964aefc-a652-457b-af50-418c292992d0" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="root" password="root@000" database="StudentDetails" />
	</db:config>
	<flow name="MuniterrorScenarioFlow" doc:id="f9d70c87-135b-4ad6-ac5a-e5ca588900c0" >
		<http:listener doc:name="Listener" doc:id="a771c258-51e8-473f-b62d-7bfe07d689f3" config-ref="HTTP_Listener_config" path="/munit">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="#[attributes.queryParams.StudentName]" doc:name="Set Variable" doc:id="19fab52a-9075-4684-8c73-d5a4a284aab0" variableName="StudentName"/>
		<db:select doc:name="Select" doc:id="e77cf46c-900a-453c-8df9-3e876da2b82e" config-ref="Database_Config1">
			<db:sql ><![CDATA[SELECT * FROM StudentDetails.StudentInfo WHERE StudentName =:StudentName
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{StudentName:vars.StudentName}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="fdedf796-e533-4e14-bf7f-2d7756948617" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<logger level="INFO" doc:name="Logger" doc:id="d808fd96-53b0-4ea1-b15f-4cbd2cf42521" message="#[payload]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="2dee800d-3f08-4d2b-8ad0-a321e0f63064" message="Student not found"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f1cfe661-0c3e-4e22-bc38-39cd85ccc6ed" type="DB:CONNECTIVITY">
				<ee:transform doc:name="Transform Message" doc:id="e9e8e0d1-95a5-4d63-90b4-78f19a96eecb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	error: "DB CONNECTIVITY"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
